body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-form {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.hide {
  visibility: hidden;
}

.valid {
  visibility: visible;
  color:green;
  font-weight: 600;
}

.invalid {
  visibility: visible;
  color:red;
  font-weight: 600;
}

.offscreen {
 display: none;
}

input:focus {
  background-color: lightblue;
}
.labelField {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.labelField > label {
  text-align: start;
}
.labelField>input {
  padding: 0.5em;
  border-radius: 5px;

}
.labelField>.instructions{
  text-align: start;
  visibility: visible;
}

.labelField .signin {
  text-align: left;
}

.labelField button {
  padding: 1em;
  font-size: 1em;
  border-radius: 1em;
}

.errmsg {
  color:red;
}