body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  visibility: hidden;
}

.valid {
  visibility: visible;
  color:green;
  font-weight: 600;
}

.invalid {
  visibility: visible;
  color:red;
  font-weight: 600;
}

.instructions {
  visibility: visible;
}

.offscreen {
 display: none;
}

input:focus {
  background-color: lightblue;
}
.labelField {
  padding: 0.5em;
}

